body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 50px;
  width: auto;
  font-weight: bold;
}
.contact-btn {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
.banner-content {
  height: 78px;
  padding: 10px;
  width: 100vw;
}

.banner-content h1 {
  text-align: center;
  color: black;
  margin: 0;
  width: auto;
  padding: 10px 0;
  animation: moveText 20s infinite;
}

.title1 {
  animation: moveRight 25s infinite;
  margin-left: 20px;
}

.title2 {
  animation: moveRight 25s infinite; 
  margin-left: 20px;
}

@keyframes moveText {
  0% { transform: translateX(0); }
  50% { transform: translateX(100px); } /* Move 100px to the right */
  100% { transform: translateX(0); } /* Return to original position */
}

@keyframes moveRight {
  0% { transform: translateX(0); }
  50% { transform: translateX(100px); } /* Move 100px to the right */
  100% { transform: translateX(0); } /* Return to original position */
}

.explore-section {
  color: #000000;
  height: 90%;
  width: 100%;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.carousel-caption {
  font-family: Arial, sans-serif;
  position: absolute;
  top: 50%;
  left: 33%; /* Adjust the left positioning as needed */
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  width: auto;
  font-size: 20px;
}
.carousel-caption h2 {
  color: black;
  font-size: 44px;
  margin: 0;
  padding: 10px 0;
  text-align: center; /* Center the text horizontally */
}
.carousel-caption p {
  color: black;
  padding: 10px 0;
  align-items: center;
}
.carousel-item {
  height: 500px;
  text-align: left;
}
.carousel-item img {
  width: 100%;
  height: 100%;
}


